.StyleTitle{
    margin-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
    color: #115A63;
    text-decoration: none;
    font-size: 25px;
    line-height: 21px;
    text-decoration:none;
}

.StyleText{
   
    margin-left: 15px;
    padding-top: 20px;
    color: #115A63;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    
}


.StyleNav{
    background-color: #ededed;
    
}

.StyleBorder{
    border-width: 0 0 3px;
    border-style: solid;
    border-color: #115A63;
}

.StyleAImag{
    margin-left: -15px;
    text-decoration: none;
}

.Logo{
    height: 60px;
}

.body{
    font-family: "Open Sans", "Helvetica Neue","Helvetica, Arial, sans-serif";
}


.StyleOri{
    float:right;
    width:100px;
}

#container{
    text-align:center;
}

.StyleEfecto a:hover:not(.active) {
    background-color: #115A63;
    color: white;
  }