
  .sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 120px;
    background-color: #f1f1f1;
    position: relative;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a, button{
    display: block;
    color: #115A63;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid rgb(231, 226, 226);
  }
   

  
  .sidebar a:hover:not(.active) {
    background-color: #115A63;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height:1000px;
  }
  
/*   @media screen and (max-width: 800px) {
    .sidebar {
      height: auto;
      position: relative;
    }
    .sidebar a {float: right;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 600px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */

  .col-md-11, .col-md-1{
    padding-left: 0;
    padding-right: 0;
  }

  .col-md-12{
  padding-left: 0;
  padding-right: 0;
}

.StyleRow{
  padding-right: 0;
  padding-left: 0;
}

#StyleBorderMenu{
  border-bottom: 1px;
  background: black;
}



/*---------------------------------------*/
.StyleCaracterizacion{
  width: 30%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}



.StyleEstructura{
  width: 40%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}

.StyleFisicoquimico{
  width: 40%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}
.StyleRegeneracion{
  width: 40%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}

.StyleRestauracion{
  width: 40%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}

.StyleIbim{
  width: 40%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}

.StyleCispata{
  width: 30%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}

.StyleCGSM{
  width: 30%;
  border: 10px transparent;
  border-right: #115A63 2px solid;
  background-color: white;
}
#StyleTabsColor{
  border: 10px solid transparent;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 0.75vw;
}

#StyleScroll{
  display: block;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#StyleA{
  font-size: 25px;
}
#buttonClose{
  position: sticky;
  left: 100%;

}

