body {
  margin: 0;
  Color:#115A63;
  background-color: #ededed;
  font-family:  'Helvetica Neue', Arial,sans-serif,'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.container {
  background-color: transparent;
  display: grid;
  grid-template-columns: 0.1fr 2fr 1fr ;
  grid-template-rows: 0.1fr 1fr ;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Barra Barra Barra"
    "Mapa Mapa Mapa"
    "Mapa Mapa Mapa";
}

.Barra { grid-area: Barra; }

.Menu { background-color: transparent; }

.Panel { background-color: transparent;}

.Mapa { grid-area: Mapa; display: flex;}


html, body , .container {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.grafRestauracion {
  width: 350px;
}
.tableRestauracion {
  width: 400px;
  font-size: 12px;
}




